.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4c55d4;
  height: 65em;
  h1 {
    color: #f15a29;
  }
  p {
    font-size: 1.6em;
    width: 50%;
  }
}
