.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    font-size: 1.75em;
    position: sticky;
    top: 0;
    background-color: #4C55D4;
    display: flex;
    a {
        color: white;
        padding: 1em 3em;
    }
    h3 {
        margin: 1em;
        color: white;
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    a {
         &:hover {
            background-color: #F15A29;
        }
    }
}